.page3-container {
  padding: 20px;
}

.page3-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.page3-content {
  font-size: 18px;
  color: #555;
}

.my-calendar-container {
  width: 80%; /* FullCalendar의 너비를 80%로 설정 */
  margin: 0 auto; /* 가운데 정렬 */
}

/* 일정 추가 버튼 스타일 */
.add-event-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 모달 스타일 */
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* 모달 타이틀 스타일 */
.modal-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* 모달 내용 스타일 */
.modal-content {
  margin-bottom: 20px;
}

/* 모달 폼 스타일 */
.modal-form {
  display: flex;
  flex-direction: column;
}

/* 모달 입력란 스타일 */
.modal-input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 모달 버튼 스타일 */
.modal-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 모달 버튼 hover 스타일 */
.modal-button:hover {
  background-color: #0056b3;
}
